footer 
{
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    position: fixed;
}
footer p
{
    text-align: center;
    margin: 20px;
}
