body
{
    margin: 0px;
    padding: 0px;
    font-color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.container
{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}