.filters
{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    text-color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 1;
}
button:hover 
{
    opacity: 0.9;
}